# local env files
/front/.env
/front/.env.local
/back/.env
/back/.env.testing
front/.env.local
back/.phpunit.result.cache

# database
database-data

#bibliotecas do framework
./back/vendor
./front/node_modules

